name: migrations
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  migrations:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Show tree
        run: |
          pwd
          ls -la
          ls -la sql/migrations
